*.nc
*.cdf
*.swp
*.log
*.dat
*.pdf
*.png
*.eps
*.ps
*.bk
*~
log.*
__pycache__
timestamp
.ipynb_checkpoints/

cases/*/*.nml
cases/*/*.xml
!data/*/*.dat

# ignore input data
data/
*.mat

# ignore figures
preparation/Papa/output_figs/
preparation/Papa/pre_figs/
preparation/Papa/test_figs/
